.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  color: white;
}

.colorBox {
  width: 70vw;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loadInfo {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  font-size: 1.2rem;
}

.generateFirst {
  font-size: 2rem;
  max-width: 50%;
}

button {
  margin: 2rem;
  border: 2px solid white;
  font-size: 2rem;
  font: inherit;
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  background: none;
  color: white;
  cursor: pointer;
  text-align: center;
}

button:hover {
  color: #CEA2D7;
  border-color: #CEA2D7;
}

button:active {
  color: #9075D8;
  border-color: #9075D8;
}

button:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #674AB3 , #A348A6);
  background-size: 100% 100%;
  position: absolute;
  z-index: -5;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -10;
  top:0;
  left: 0;
  background-color: #121212;
}

.freqList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;
  box-sizing: border-box;
  padding: 5%;
}

.freqBar {
  width: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
}

.visualizer {
  width: 75%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 12.5%;
  z-index: 1;
}

@media(max-width:600px) {
  .colorBox {
    width: auto;
  }

  button {
    margin: 1.2rem;
  }

  .loadInfo {
    font-size: 2rem;
  }
  
  .instructions {
    font-size: 1rem;
  }
}